@charset "UTF-8";

html {
	height: 100%;
}

html, body {
	font-family: 'NotoSans';
	font-weight: 400;
	letter-spacing: -0.5px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-stroke: 0.6px;
	font-size: 14px;
	height: 100%;
	word-bradk: keep-all; /* 윤주추가 */
}

.wrapper {
	max-width: 1170px;
	margin: 0px auto;
	padding: 0px 15px;
}

img{
	max-width: 100%;
    height: auto;
}

section{
	margin-bottom: 75px;
}

.invitation-mobile .invitation{
	text-align: center;
}

#map{
	width:80vw; 
	height:38vw; 
	position: relative; 
	overflow: hidden; 
	background: url(&quot;http://static.naver.net/maps/mantle/1x/auth_fail.png&quot;) center center / 256px 256px repeat transparent;
	margin: 0 auto;
}



/*  .cover>.bg-img{
	position: absolute;
	display: block;
	margin: 0 auto;
}

.cover>.cover-title{
	position: relative;
	padding-top: 180px;
} */





/* .cover>.bg-img{
	position: absolute;
} */

.invitation .cover_page>.coverpage-wrapper{
	text-align: center;
	position: relative;
}

.invitation-mobile .cover_page .coverpage-wrapper .bg-img{
	position: relative;
}

.invitation-mobile .cover_page .coverpage-wrapper .bg-img>.cover-background{
	position: absolute;
	text-align: center;
	margin: 0 auto;
	
}

.invitation-mobile .cover_page .coverpage-wrapper .bg-img>.cover-title{
	position: relative;
	margin-top: 20%;
}

.cover .cover_name{
	position: relative;
	font-size: 35px;
	color: #64503c;
	padding-top: 75px;
}

.cover .cover_name>p{
	text-align: center;
	margin-bottom: 30px;
	
}

.cover .marryAtAndHall{
	position: relative;
	font-size: 32px;
	color: #64503c;
	padding-top: 120px;
}

.cover .marryAtAndHall>p{
	text-align: center;
	margin-bottom: 10px;
}

.invitation .main{
	position: relative;
	margin-top: 420px;
	margin-bottom: 0%
}

.invitation .content{
	margin-top: 150px;
	margin-bottom: 100px;
	font-size: 28px;
}

.invitation .main>.mainImg{
	margin-top: 100px;
}

.invitation .calender{
	background-color: #e9ede3;
	margin-bottom: 75px;
}

.invitation .calender>.calender-api{
	
}



.invitation .contact>#headline{
	margin-top: 0px;
	margin-bottom: 110px;
}

.invitation .contact{
	font-size: 20px;
}

.invitation .contact span{
	font-size: 25px;
	
}

/* .invitation .contact span[id="male-name"]{
	display:block;
} */

.invitation #contactInfo{
	margin-bottom: 2%;
}


.contact .telInfo img{
	margin-left: 37px;
}


.contact .telInfo{
	margin: 10px auto;
}


.contact .telInfo span{
	margin-left: 15px;
}

.parent-info1{
	float: left;
    margin-left: 30%;
    margin-top: 88px;
    margin-bottom: 33px;
}

.parent-info2{
	float: left;
	margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 4%;
}


.m-parent{
	margin-left: 10%;
	margin-right: 10%;
}

.invitation .notice{
	clear: both;
}

.invitation .notice span{
	font-size: 20px;	
}

.invitation .notice h1{
	margin-bottom: 40px;	
}



.invitation .celebration .message-input span{
	margin-left: 84px;
}


input[type = text]{
	width: 59.2%;
	height: 70px;
	padding: 5px 20px;
	margin: 0px 0;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	background: transparent; 

}

.invitation .celebration .message-input hr{
	width: 672px;
	margin-top: -10px;
    margin-bottom: 20px;
    border-top: 2px solid #dadada;
    max-width: 100%
}

.invitation .celebration>.message-input{
	position: relative;
	font-size: 20px;
	color: #bdbdbd;

}




button[type = submit]{
	width: 672px;
	height: 57px;
	font-size: 18px;
	background-color: #e9ede3;
	border: none;
	border-radius: 12px;
	color: #000000;
	max-width: 100%
}

.invitation .celebration>.message-output{
	font-size:13px;
}


.invitation .celebration>.message-output>.message-details{
	border: 1px solid #dadada;
	width: 672px;
	height: 58px;
	margin: 37px auto;
	font-size: 16px;
	max-width: 100%;
    min-height: 58px;
}

.invitation .celebration>.message-output>.message-details>#message-name{
	position: relative;
    float: left;
    margin-left: 7px;
    margin-top: 7px;
}

.invitation .celebration>.message-output>.message-details>#message-date{
	position: relative;
    float: right;
    margin-right: 7px;
    margin-top: 7px;
}

.invitation .celebration>.message-output>.message-details>#message-message{
	text-align: left;
	margin-top: 8px;
	margin-right: 20px;
	margin-left: 7px;
}

.invitation .celebration>.message-output>.message-details>#message-message>span{
	float: left;
}

.invitation .celebration>.message-output>.message-details>#message-message>#delete-message{
	float: right;
	
}

.invitation .celebration>.message-output button[type="button"]{
	width: 160px;
	height: 40px;
	font-size: 18px;
	background-color: #f4fbeb;
	border: none;
	border-radius: 12px;
}


.invitation .accountInfo>.account-details{
	font-size: 16px;
	margin-top: 2%;
}

.invitation-mobile .invitation hr[id="sns-line"]{
	width: 672px;
	margin-top: -10px;
    margin-bottom: 20px;
    border-top: 2px solid #dadada;
    max-width: 100%;
    height: auto;
}


.invitation .sns{
	padding: 0px 15% 0 15%;
}

.invitation .snsInfo> a{
	margin-left: 7%;
	margin-right: 5%;
	
	
}



@media screen and (max-width: 830px) {
	.invitation .cover_page>.coverpage-wrapper{
		text-align: center;
		position: relative;
	}

	.invitation-mobile .cover_page .coverpage-wrapper .bg-img{
		position: relative;
	}
	
	.invitation-mobile .cover_page .coverpage-wrapper .bg-img>.cover-background{
		position: absolute;
		text-align: center;
		margin: 0 auto;
		
	}
	
	.invitation-mobile .cover_page .coverpage-wrapper .bg-img>.cover-title{
		position: relative;
		margin-top: 20%;
	}
	
	.cover .cover_name{
		position: relative;
		font-size: 5vw;
		color: #64503c;
		padding-top: 5%;
	}
	
	.cover .cover_name>p{
		text-align: center;
		margin-bottom: 30px;
		
	}
	
	.cover .marryAtAndHall{
		position: relative;
		font-size: 4vw;
		color: #64503c;
		padding-top: 7%;
	}
	
	.cover .marryAtAndHall>p{
		text-align: center;
		margin-bottom: 10px;
	}
	
	.parent-info1{
		float: none;
	    margin: 0 auto;
	    padding-bottom: 30px;
	}

	.parent-info2{
	    display: contents;
	}
	
	
	.m-parent{
	margin-left: 10%;
	margin-right: 10%;
	}
		
		
}



